<!DOCTYPE html>
<html>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?9d65ab46a399e7b5b30f17e990c1614f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<head>
	<meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>官方网站-幻城传奇</title>
	<link href="/static/ccss/all.css" rel="stylesheet">
	<link href="/static/ccss/reset_css.css" rel="stylesheet">
	<link href="/static/ccss/timo.css" rel="stylesheet">
	<script src="static/js/jquery.js"></script>
    <script src="static/js/jquery.jcarousellite.js"></script>
    <script src="static/js/jqueryXslider.js"></script>
    <script src="static/js/easyscroll.js"></script>
    <script src="static/js/mousewheel.js"></script>
	<script src="static/js/load.js"></script>


<!-- <script src="/static/dist/plyr.js"></script> -->
	<!--[if lt IE 9]>  
		<script language="javascript" type="text/javascript" src="js/html5.js"></script>
	<![endif]-->

</head>
<body>
	</div>
	</div>

<div class="header-nav">
	<div class="header-nav-main">
		<a href="#" target="_blank">首页</a>
		<a href="/static/product/huancheng.exe" target="_blank">微端下载</a>
		<!-- <a href="https://www.sf005.com" target="_blank">补丁下载</a> -->
		<!-- <a href="#" class="header-logo-a"  target="_blank"></a> -->
		<!-- <a href="https://www.sf005.com" target="_blank">网盘下载</a> -->
		<!-- <a href="qqq.htm" target="_blank">在线充值</a> -->
		<a href="https://qm.qq.com/cgi-bin/qm/qr?k=Jy25zbuoIP2woDhyJJRPpwsNfDPD3nge&authKey=AQmpgMLndPblQocZJkw8x1dUI2D4h6iAF1U0jlc9ixpZtjmPoYbwo/lU8A1Cv/w+&noverify=0" target="_blank">官方QQ群</a>
		<!-- <a href="https://jq.qq.com/?_wv=1027&k=5Ohon77" target="_blank">官方QQ群<em class="arrow"></em></a> -->
	</div>
</div>  
<div>

</div>>

<!-- <div class="musicbox musicplay"  style="z-index:333333"><audio autoplay loop id="audio" src="/static/bgsound.mp3"> 您的浏览器不支持 audio 元素 请切换为极速模式。 </audio></div> -->


<script>var CopyRightcss="/static/Top/css/cptop.css";</script>
 <!-- <script src="/static/Top/js/CopyTop.js"charset="utf-8"></script> -->

<!-- 
		<div id="quickLink">
				<div class="linkbox link1"><a href="http://www.sf005.com"  target="_blank">登陆器下载</a></div>
				<div class="linkbox link2"><a href="qqq.htm""  target="_blank">在线充值</a></div>
				<div class="linkbox link3"><a href="https://www.sf005.com" target="_blank">网盘下载</a></div>
		</div> -->
		
		
<div id="section4bg">
<hr>
<section class="m5">
	<div class="left"><img src="/static/show/2.png"></div>
	<div class="right"><h3>战士装备描述</h3></div>
</section>
</div>
</div>
<hr>
<section class="m5">
	<div class="left"><img src="/static/show/3.png"></div>
	<div class="right"><h3>法师装备描述</h3></div>
</section>
</div>
</div>
<hr>
<section class="m5">
	<div class="left"><img src="/static/show/4.png"></div>
	<div class="right"><h3>道士装备描述</h3></div>
</section>
</div>
</div>
<hr>


<!-- <section class="m5">

<div class="m5_div ">
<div class="zb boxstyle">
<div class="zb_1bg">
<div class="zb_1">
              <h3 class="PartTitle2">装备展示<span>/ Item Show</span></h3>
 <div class="role-itemst"><img src="/static/sf005_zb/1.gif"></div>
 <div class="zb_1_d"></div>
</div>
</div>

</div>
</div>


<div class="m5_div ">
<div class="zb boxstyle">
<div class="zb_1bg">
<div class="zb_1">
              <h3 class="PartTitle2">装备展示<span>/ Item Show</span></h3>
 <div class="role-itemst"><img src="static/sf005_zb/2.gif"></div>
 <div class="zb_1_d"></div>
</div>
</div>

</div>
</div>

<div class="m5_div ">
<div class="zb boxstyle">
<div class="zb_1bg">
<div class="zb_1">
              <h3 class="PartTitle2">装备展示<span>/ Item Show</span></h3>
 <div class="role-itemst"><img src="static/sf005_zb/01.jpg"></div>
 <div class="zb_1_d"></div>
</div>
</div>

</div>
</div>


</section> 
	
	</div>
	</div>

  <script>var CopyRightcss = "css/black.css";</script>
<script src="js/cqCopyRight.js" charset="gb2312"></script>
<script type="text/javascript">

var Setting = {
  scrollSpeed: 2,

};
$(function(){
	var bBtn = true;
	var musicMp3 = document.getElementById("audio");	
	var bBtn = true;
	$('.musicbox').on('click',function(){	
		if( bBtn ){		
			$(this).removeClass('musicplay').addClass('musicstop');
			bBtn = false;
			musicMp3.pause();
		}else{
					
			$(this).removeClass('musicstop').addClass('musicplay');
			bBtn = true;		
			musicMp3.play();  
		
		}
	});
})	 -->
</script> 
</body>
</html>

