<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>幻城传奇官网</title>
    <!-- <link href="static/css/bootstrap.css" rel="stylesheet"> -->
    <link href="/static/ccss/all.css" rel="stylesheet">
    <link href="/static/ccss/reset_css.css" rel="stylesheet">
</head>
<body>
    <div class="header-nav">
        <div class="header-nav-main">
            <a href="#" target="_blank">首页</a>
            <a href="https://www.sf005.com" target="_blank">登录器下载</a>
            <a href="http://www.sf005.com" target="_blank">微端下载</a>
            <a href="https://www.sf005.com" target="_blank">补丁下载</a>
            <a href="#" class="header-logo-a"  target="_blank"></a>
            <a href="https://www.sf005.com" target="_blank">网盘下载</a>
            <a href="qqq.htm" target="_blank">在线充值</a>
            <a href="https://jq.qq.com/?_wv=1027&k=5Ohon77" target="_blank">官方QQ群</a>
            <a href="https://jq.qq.com/?_wv=1027&k=5Ohon77" target="_blank">官方QQ群<em class="arrow"></em></a>
        </div>
    </div>  
    
</body>
</html>